
.graph{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.graph-item1{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item1:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }

  .graph-item2{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item2:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }




  .graph-item3{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item3:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }



  .graph-item4{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item4:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }




  .graph-item5{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item5:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }



  .graph-item6{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item6:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }



  .graph-item7{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#BA6161;
    margin: 5px;
    width: 20px;
    height: 70%;
    animation-name: "moving";
    animation-duration: 2s;
    transition: 1s; 
}

.graph-item7:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:#6199ba;
    margin: 5px;
    width: 20px;
    height: 80%;
    
  }